---
import Home from '@/layouts/Home.astro';

import {
	ProjectsLink,
	ResumeLink,
	UbisoftMontreal,
	StockholmSyndromeAI,
	CoursesLink,
} from '../consts';
---

<Home>
	<div class="title-card px-3 py-3">
		<h1>Hi, I'm Mathew.</h1>
		<p class="lead">
			I am a versatile professional with a strong background in software
			development, having worked in backend-services and artificial
			intelligence systems. As an avid hobbyist, I'm constantly tinkering
			with projects to broaden my skillset, and keep my approach fresh.
		</p>
		<!-- <p class="lead">
			Beyond software development, I teach programming courses while also
			serving as the head coach of a varsity rugby program. These roles
			let me contribute to my community, stay engaged in education, and
			further develop my soft skills.
		</p>
		<p class="lead">
			My previous experiences includes Software Developer @ <a
				href={UbisoftMontreal()}
				class="alert-link">Ubisoft Montreal</a
			>, and Programmer Analyst @ <a
				href={StockholmSyndromeAI()}
				class="alert-link">Stockholm Syndrome.AI</a
			>. Want the full picture?
		</p> -->
		<section class="connect">
			<div class="vstack gap-2">
				<a href={ProjectsLink()}>Projects</a>
				<a href={ResumeLink()}>Resume</a>
				<a href={CoursesLink()}>Courses</a>
			</div>
		</section>
	</div>
</Home>

<style></style>
