---
const { email, github, linkedin } = Astro.props;
---

<h1>Contact Information</h1>
<div class="vstack gap-2">
    <a class="list-item list-item-navigation" href={`mailto:${email}`}
        >{email}</a
    >
    <a
        class="list-item list-item-navigation"
        href={`https://github.com/${github}`}>@{github}</a
    >
    <a
        class="list-item list-item-navigation"
        href={`https://linkedin.com/in/${linkedin}`}
    >
        in/{linkedin}
    </a>
</div>
