---
const { company, role, years, bullets = [], tech = [] } = Astro.props;
---

<div class="list-item list-item-primary">
    <h2>{company} | {role}</h2>
    <p>{years}</p>

    {
        bullets.length > 0 && (
            <ul class="list">
                {bullets.map((b) => (
                    <li>{b}</li>
                ))}
            </ul>
        )
    }

    {
        tech.length > 0 && (
            <>
                <h5>Technologies used</h5>
                {tech.map((t) => (
                    <span class="badge">{t}</span>
                ))}
            </>
        )
    }
</div>
